<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
      <hr>
      <% secrets.forEach(x=>{%>
         
          <p class="secret-text"> <%= x.secret %> &nbsp; &nbsp; &nbsp;
            <span style="font-size: 1rem;"><%= fromNow(x.created_at) %></span>
            <a class="del-update-btn" href="/update?id=<%= x._id %>">Edit</a>
            <form action="/clear" method="post">
              <button type="submit" style="color: crimson;" class="del-update-btn"
              name="delbtn" value="<%= x._id %>">DELETE</button>
            </form>
            
          </p>
          
    <hr>
      <%})%>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
